{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}


{% block page_header %}
<header class="py-5">
  <!-- Navigation-->
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-8 col-xl-7 col-xxl-6">
        <div class="my-5 text-center text-xl-start">
          <h1 class="display-5 fw-bolder text-white mb-2">CI SWAG STORE</h1>
          <p class="lead fw-normal text-white-50 mb-4">
            CI Swag Store, where fashion meets knowledge. Our store not only
            offers stylish branded gear but also provides short
            instructional courses, enriching students with skills and
            insights beyond the classroom.
          </p>
          <div
            class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start"
          >
            <a
              class="btn bg-orange btn-lg px-4 me-sm-3 text-white"
              href="#"
              >Shop Now</a
            >
            <a class="btn btn-outline-light btn-lg px-4" 
            href="#"
              >Buy Courses</a
            >
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
        <img
          class="img-fluid rounded-3 my-5"
          src="{% static 'images/hero-image.jpg' %}"
          alt="hero image of CI Swag store items"
        />
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}


 <!-- Features section-->
 <section class="py-5 bg-white" id="features">
    <div class="container">
      <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h2 class="fw-bolder mb-0">
            Embark on your learning adventure with a touch of sophistication
            and style.
          </h2>
        </div>
        <div class="col-lg-8">
          <div class="row gx-5 row-cols-1 row-cols-md-2">
            <div class="col mb-5 h-100">
              <div
                class="feature bg-orange bg-gradient text-white rounded-3 mb-3"
              >
                <i class="fa-solid fa-shirt"></i>
              </div>
              <h2 class="h5">Clothing</h2>
              <p class="mb-0">
                Paragraph of text beneath the heading to explain the
                heading. Here is just a bit more text.
              </p>
            </div>
            <div class="col mb-5 h-100">
              <div
                class="feature bg-orange bg-gradient text-white rounded-3 mb-3"
              >
                <i class="fa-solid fa-mug-hot"></i>
              </div>
              <h2 class="h5">Miscellaneous</h2>
              <p class="mb-0">
                Paragraph of text beneath the heading to explain the
                heading. Here is just a bit more text.
              </p>
            </div>
            <div class="col mb-5 mb-md-0 h-100">
              <div
                class="feature bg-orange bg-gradient text-white rounded-3 mb-3"
              >
                <i class="fa-solid fa-book"></i>
              </div>
              <h2 class="h5">Stationary</h2>
              <p class="mb-0">
                Paragraph of text beneath the heading to explain the
                heading. Here is just a bit more text.
              </p>
            </div>
            <div class="col h-100">
              <div
                class="feature bg-orange bg-gradient text-white rounded-3 mb-3"
              >
                <i class="fa-solid fa-school"></i>
              </div>
              <h2 class="h5">Courses</h2>
              <p class="mb-0">
                Paragraph of text beneath the heading to explain the
                heading. Here is just a bit more text.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Delivery section-->
  <div class="py-5 bg-light">
    <div class="container">
      <div class="container bg-light rounded-3">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="text-center p-3 card">
              <i class="fa-solid fa-truck h1"></i>
              <h6>Free Delivery / Admin Charges</h6>
              <p>On all member orders</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="text-center p-3 card">
              <i class="fa-solid fa-rotate-left h1"></i>
              <h6>Return Policy</h6>
              <p>Free Shipping on all order</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="text-center p-3 card">
              <i class="fa-solid fa-headset h1"></i>
              <h6>24/7 Support</h6>
              <p>Free Shipping on all order</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="text-center p-3 card">
              <i class="fa-regular fa-credit-card h1"></i>
              <h6>Secure Payment</h6>
              <p>Free Shipping on all order</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Testimonial section-->
  <section class="py-5 bg-white">
    <div class="container">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
          <h2 class="fw-bolder text-center mb-5">Our Happy Customers</h2>
        </div>
      </div>
    </div>
  </section>
{% endblock %}