{% load static %}

<div
  id="carouselExampleIndicators"
  class="carousel slide bg-dark rounded-3"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div
      class="carousel-item text-center item-center active py-2 text-light pb-5"
    >
      <div class="img-box">
        <img
          src="{% static 'images/person1.jpg' %}"
          alt="testimonial person 1"
        />
      </div>
      <h3 class="h4 mt-1">CSS Programming</h3>
      <div class="star-rating">
        <ul class="list-inline">
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star-o text-warning"></i>
          </li>
        </ul>
      </div>
      <p class="testimonial text-center mx-auto">
        The CSS programming course provided an invaluable foundation for my web development journey. Through clear explanations and hands-on exercises, I gained mastery in styling web pages with precision and creativity. This course not only elevated my skills but also empowered me to create visually stunning and user-friendly websites with confidence.
      </p>
      <strong class="overview text-center mx-auto">Gold Berry</strong>
    </div>

    <div class="carousel-item text-center item-center py-2 text-light pb-5">
      <div class="img-box">
        <img
          src="{% static 'images/person2.jpg' %}"
          alt="testimonial person 2"
        />
      </div>
      <h3 class="h4 mt-1">Python Programming</h3>
      <div class="star-rating">
        <ul class="list-inline">
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star-o text-warning"></i>
          </li>
        </ul>
      </div>
      <p class="testimonial text-center mx-auto">
        The Python programming course was a transformative experience that ignited my passion for coding. With engaging lessons and practical projects, I swiftly grasped Python's versatility and efficiency. Thanks to this course, I now have the skills to develop robust software solutions and pursue exciting opportunities in the tech industry.
      </p>
      <strong class="overview text-center mx-auto">Darrach Barneveld</strong>
    </div>

    <div class="carousel-item text-center item-center py-2 text-light pb-5">
      <div class="img-box">
        <img
          src="{% static 'images/person3.jpg' %}"
          alt="testimonial person 3"
        />
      </div>
      <h3 class="h4 mt-1">Java Programming</h3>
      <div class="star-rating">
        <ul class="list-inline">
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star-o text-warning"></i>
          </li>
        </ul>
      </div>
      <p class="testimonial text-center mx-auto">The Java programming course was instrumental in shaping my understanding of object-oriented programming. With comprehensive tutorials and challenging assignments, I honed my skills in Java development and problem-solving. This course equipped me with the expertise needed to tackle complex projects and thrive in the dynamic world of software engineering.
      </p>
      <strong class="overview text-center mx-auto">Tom Bombadil</strong>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
