:root {
  --primary-orange: #ff451e;
  --primary-amber: #ffc107;
  --primary-green: #4caf50;
  --primary-cyan: #00bcd4;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --btn-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
}

/* Theming for similar custom bootstrap styles */

.bg-orange {
  background: var(--primary-orange);
}

.text-orange {
  color: var(--primary-orange);
}

.bg-amber {
  background-color: var(--primary-amber);
}

.text-amber {
  color: var(--primary-amber);
}

.bg-green {
  background-color: var(--primary-green);
}

.text-green {
  color: var(--primary-green);
}

.bg-cyan {
  background-color: var(--primary-cyan);
}

.text-cyan {
  color: var(--primary-cyan);
}

/* NAVIGATION BAR */
.nav-container {
  padding-top: 0.25rem;
  padding-bottom: 1rem;
}

.sticky-nav {
  border-radius: 0.5rem;
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 60px;
}

/* AllAuth Forms */

.login,
.signup {
  max-width: 600px;
}

.btn-color {
  background-color: #0e1c36;
  color: #fff;
}

.profile-image-pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.cardbody-color {
  background-color: #ebf2fa;
}
