{% extends "base.html" %} 
{% load static %} 

{% block page_header %}
<header class="bg-dark">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Shop in style</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Fancy this product? Add it to your cart!
      </p>
    </div>
  </div>
</header>

{% endblock %} 


{% block content %}

<section>
  <section class="py-5 bg-white">
    <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6 position-relative">
          <img
            class="card-img-top mb-5 mb-md-0"
            src="{{ product.image.url }}"
            alt="..."
          />
          {% if product.sale %}
          <div class="position-absolute " style="top: 0.5rem; right: 0.5rem">
            <p class='h5'><span class="badge bg-success">{{product.sale}}% Sale
            </span><p>
          </div>
          {% endif %}
        </div>
        <div class="col-md-6">
          <div class="small mb-1">SKU: {{product.sku}}</div>
          <h1 class="display-5 fw-bolder">{{product.name}}</h1>
          <div class="fs-5 mb-5">
            {% if product.sale %}
            <span class="text-decoration-line-through text-danger">${{product.price}}</span>
            <span>${{product.total_final_price}}</span>
            {% else %}
            <span>${{product.price}}</span>
            {% endif %}
          </div>
          <p class="lead">{{product.description}}</p>

         <!-- Add to cart form -->
            <form class="form" action="#" method="POST">
                {% csrf_token %}
                <div class="d-flex">
                <input
                    name="quantity"
                    class="form-control text-center me-3"
                    id="inputQuantity"
                    type="number"
                    value="1"
                    min="1"
                    max="99"
                    style="max-width: 9rem"
                />
                <button
                    id="submitBtn"
                    class="btn btn-outline-dark flex-shrink-0"
                    type="submit"
                >
                    <i class="bi-cart-fill me-1"></i>
                    Add to cart
                </button>
                <input type="hidden" name="redirect_url" value="{{ request.path }}" />
                </div>
            </form>
          
        </div>
      </div>
    </div>
  </section>
</section>

{% endblock %}
