{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="bg-dark">
    <div class="container px-4 px-lg-5 mt-5 mb-2">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Expand your knowledge</h1>
        <p class="lead fw-normal text-white-50 mb-0">
            Elevate your expertise with our courses.
        </p>
      </div>
    </div>
</header>  

{% endblock %}

{% block content %}
    <!-- Section-->
    <section class="py-3 bg-white">
      <div class="container px-4 px-lg-5 mt-5">
          <div
            class="row gx-2 gy-2 row-cols-lg-2 justify-content-center"
          >

          {% for program in programs  %}


          <p>{{ program.name }}</p> 
          <p>{{ program.id }}</p>

          {% endfor %}
     
          </div>
        </div>
      </section>
{% endblock %}